<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f9f9f9;
        }

        .container {
            margin-top: 40px;
        }

        img {
            border-radius: 8px;
            max-width: 100%;
            height: auto;
            transition: transform 0.2s ease-in-out;
        }

        .card:hover img {
            transform: scale(1.1);
        }

        .btn-details {
            margin-top: 10px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        label {
            font-size: 18px;
            color: #333;
            margin-bottom: 10px;
        }

        input {
            padding: 12px;
            margin-bottom: 20px;
            width: 100%;
            box-sizing: border-box;
            border: 1px solid #ddd;
            border-radius: 6px;
            font-size: 16px;
        }

        button {
            background-color: #007bff;
            color: #fff;
            padding: 14px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-size: 18px;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #0056b3;
        }

        .container-sm {
            max-width: 500px;
            margin-top: 50px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            padding: 20px;
            background-color: #fff;
        }

    </style>
</head>

<body>

    <%- include('./partials/navbar.ejs') %>

    <div class="container p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end">
        <!-- Search filters -->
        <div class="card mb-3 shadow-lg bg-light">
            <div class="card-header">
                Apply search filters
            </div>
            <div class="card-body">
                <form id="searchForm">
                    <div class="form-group">
                        <label for="title">Name:</label>
                        <input type="text" class="form-control" id="title" name="title" required>
                    </div>
                    <div class="form-group">
                        <label for="genre">Genre:</label>
                        <select class="form-select" aria-label="Default select example" id="genre" name="genre">
                            <option selected>Select genre</option>
                            <option value="Psychological">Psychological</option>
                            <option value="Action">Action</option>
                            <option value="Supernatural">Supernatural</option>
                            <option value="Thriller">Thriller</option>
                            <option value="Mystery">Mystery</option>
                            <option value="Comedy">Comedy</option>
                            <option value="Adventure">Adventure</option>
                            <option value="Sci-Fi">Sci-Fi</option>
                            <option value="Drama">Drama</option>
                            <option value="Horror">Horror</option>
                            <option value="Fantasy">Fantasy</option>
                            <option value="Slice of Life">Slice of Life</option>
                            <option value="Mecha">Mecha</option>
                            <option value="Sports">Sports</option>
                            <option value="Romance">Romance</option>
                            <option value="Music">Music</option>
                            <option value="Ecchi">Ecchi</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="season">Season:</label>
                        <select class="form-select" aria-label="Default select example" id="season" name="season">
                            <option selected>Select season</option>
                            <option value="SUMMER">SUMMER</option>
                            <option value="FALL">FALL</option>
                            <option value="WINTER">WINTER</option>
                            <option value="SPRING">SPRING</option>
                        </select>
                    </div>
                    <button type="button" onclick="submitForm()" class="btn btn-primary">Search</button>
                </form>
            </div>            
        </div>
    </div>

    <script>
        function submitForm() {
            let form = document.getElementById('searchForm');
            let title = form.elements['title'].value;
            let genre = form.elements['genre'].value;
            let season = form.elements['season'].value;
    
            // Construct the query string
            let queryString = '?title=' + encodeURIComponent(title) + '&genre=' + encodeURIComponent(genre) + '&season=' + encodeURIComponent(season);
    
            // Append the query string to the URL and navigate
            window.location.href = '/anime/search' + queryString;
        }
    </script>
    
    
    <div class="container">
        <h1>Most popular:</h1>
        <div class="row">
            <% for(var i = 0; i < animelist.length; i++){ %>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="<%= animelist[i].imagelink %>" alt="Anime Image" class="card-img-top">
                        <div class="card-body">
                            <% var name = animelist[i].english_title; %>
                            <% if(animelist[i].english_title == null ){name = animelist[i].romaji_title} %>
                            <h3><%= name %></h3>
                            <form action="/individual_anime/<%= animelist[i].id %>" method="get">
                                <button type="submit" class="btn btn-primary btn-details">View Details</button>
                            </form>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>
